* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.contenedor-header {
    width: auto;
    height: 620px;
    background-image: url(./images/puntitos.svg);
}

.contenedor-logo-nav {
    display: flex;
    justify-content: space-between;
}

.image-logo {
    width: 120px;
    height: 80px;
    margin: 16px 0px 0px 17px;
}

.botones-nav {
    margin: 29px 20px 0px 0px;
}

.contenedor-opciones-movil {
    margin-bottom: 7px;
    width: 36px;
    height: 6px;
    background-color: #21618c;
}

.contenedor-imagen-titulo {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
}

.titulo-presentacion {
    font-family: "Open Sans";
    font-size: 45px;
    text-align: center;
}

.imagen-presentacion {
    width: 300px;
    height: 230px;
}

/*.contenedor-imagen-presentacion{
    margin: auto;
}*/

.contenedor-informacion-personal {
    background-color: rgba(20, 20, 20, 1);
    width: 100%;
    height: 538px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.contenedor-sobre-mi-titulo {
    margin-top: 30px;
}
.titulo-sobre-mi {
    font-family: "Open Sans";
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 0px;
}

.contenedor-sobre-mi-informacion {
    width: 300px;
    font-size: 16px;
}

.informacion-sobre-mi {
    margin: 0px;
    color: white;
    font-family: "Roboto";
}

.contenedor-sobre-mi-imagen {
    margin-bottom: 40px;
}

.contenedor-mis-servicios {
    width: 100%;
    height: 1375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mis-servicios-informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-servicios{
    font-family: 'Open Sans';
    font-size: 32px;
}
.subtitulo-descripcion{
    font-family: 'Roboto';
}
.contenedor-informacion{
    width: 262px;
    height: 117px;
}
.parrafo-descripcion{
    margin: 0px;
    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
}
.contenedor-contacto-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 660px;
    background-color: black;
}
.contenedor-contacto-subtitulo{
    margin: 69px 0px 36px 0px;

}
.subtitulo-contacto{
    margin: 0px;
    font-family: 'Open Sans';
    font-size: 32px;
    color: white;
}
.label-texto{
    font-family: 'Roboto';
    font-size: 13px;
    display: block;
    color: white;
    margin-bottom: 9px;
}
.contenedor-nombre-formulario{
    margin-bottom: 27px;
}
.contenedor-email-formulario{
    margin-bottom: 21px;
}
.input-formulario{
    width: 335px;
    height: 45px;
    font-size: 20px;
}
.textarea-formulario{
    resize: none;
    width: 335px;
    height: 113px;
    font-size: 18px;
}
.contenedor-boton-enviar-formulario{
    margin-top: 60px;
}
.boton-enviar-formulario{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #21618C;
    border: none;
    border-radius: 8px;
    width: 335px;
    height: 45px;
}
.boton-enviar-formulario:active{
    background: #AED6F1;
    color:#2E86C1;
    border: solid 3px;
}